.mPop {
  border: 1px solid #ff0000;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
}

.mPopStyle {
  border: 1px solid #ff0000;
  background-color: #fff;
  font-size: 12px;
  text-align: left;
}

/* .vsm-canvas {
  filter: invert(1) hue-rotate(180deg);
} */

/* 지도와 원의 필터 제거
.vsm-canvas >  {
  filter: none !important;
} */

.map>div>div {
  filter: invert(1) hue-rotate(180deg);
  color: black
}