.mPop {
  border: 1px solid #ff0000;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
}

.mPopStyle {
  border: 1px solid #ff0000;
  background-color: #fff;
  font-size: 12px;
  text-align: left;
}
